body {
    background-color: #FFF1F8;
    color: #FE2D6C;
    font-family: "Trebuchet MS", sans-serif;
}

.div {
    background-image: linear-gradient(#ffffff, #FFD8E4);
    margin: 20px 350px 20px 350px;
    padding: 10px;
    border: 3px solid;
    border-radius: 15px;
    text-align: center;
}

.div2 {
    background-color: #ffffff;
    margin: 25px 75px 25px 75px;
    padding: 25px;
}

img {
    width: 59%;
    max-width: 500px;
}

a { 
    color: #FF81A7;
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.size {
    font-size: 23px;
}

.size-2 {
    font-size: 18px;
}

figure {
    display: flex;
}